.portfolio__items {
  display: flex;
  width: 100%;
  gap: 2.5rem;
  // display: none;

  @media screen and (max-width: 1640px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 1260px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
