.carousel {
  position: relative;
  width: 100%;

  .carousel-item {
    display: none;
  }

  .carousel-item.active {
    display: block;
  }

  img {
    width: 100%;
    display: inline-block;
    border-radius: 1.2rem;
  }
}
