.about-container {
  position: relative;
  display: flex;
  font-size: 1.2rem;
  gap: 5rem;

  .skill__logo {
    position: absolute;
  }

  .mysql-logo {
    left: 50%;
    bottom: -40px;
    height: 200px;
    width: 200px;
    opacity: 0.5;
  }

  .php-logo {
    left: -10%;
    top: 1%;
    height: 250px;
    width: 250px;
    opacity: 0.4;
  }

  .about-me__text {
    flex: 2;
    z-index: 5;
  }

  .about-me__skills {
    flex: 1;
    z-index: 5;

    @media screen and (max-width: 1260px) {
      width: 75%;
    }

    .skills-data {
      padding: 1rem 0;
      color: aqua;

      .skills-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      .skill-bar,
      .skill__percentage {
        height: 7px;
        border-radius: 0.25rem;
      }

      .skill__percentage {
        display: block;
      }

      .skill-bar {
        background-color: #f1f1f1;

        .skill-react {
          width: 50%;
          background-color: rgb(255, 209, 92);
        }

        .skill-php {
          width: 70%;
          background-color: rgb(255, 76, 96);
        }

        .skill-db {
          width: 65%;
          background-color: rgb(108, 108, 299);
        }
      }
    }
  }
}
