.header__info-box {
  display: flex;
  gap: 5rem;
  align-items: center;

  h1 {
    font-size: 54px;
  }
}

.header__me {
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: var(--shadow);
  }
}

.header__socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header__socials svg {
  width: 25px;
  height: 25px;
}


@media screen and (max-width: 1260px) {
  .header__info-box{
    flex-direction: column;
    justify-content: space-between;
  }

  .header__socials {
    margin-top: 5rem;
    flex-direction: row;
  }
}